@model Model.ViewModel.MonitoraPacienteViewModel

@{
    ViewData["Title"] = "Edit";
    var googleKey = ViewBag.googleKey;
}

<!-- Page Content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Monitorar Paciente</h5>
                            <h4>Monitoramento Referente ao Exame @Model.VirusBacteria.Nome/@Model.UltimoResultado</h4>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-default" asp-controller="MonitorarPaciente" asp-action="Index"> <i class="fas fa-arrow-left"></i> Voltar</a><br />
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form asp-action="Edit" asp-controller="MonitorarPaciente" method="post" name="form-exame" id="form-exame" autocomplete="off">
                        <h6 class="heading-small text-muted mb-4">Dados Pessoais</h6>
                        <h6 class="heading-small text-muted pl-lg-4">Digite um CPF para carregar as informações do paciente ou cadastre-o agora mesmo</h6>
                        <div class="pl-lg-4">
							<div class="row">
								<div class="col-md-2" hidden>
									<div class="form-group">
										<input asp-for="Paciente.Idpessoa" required id="input-id-pessoa" class="form-control" />
									</div>
								</div>
								<div class="col-md-2" hidden>
									<div class="form-group">
										<!--virus ou bacteria do monitoramento atual-->
										<input asp-for="VirusBacteria.IdVirusBacteria" required id="input-id-virus" class="form-control" />
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="form-control-label" for="input-cpf">CPF ou RG</label>
										<input asp-for="Paciente.Cpf" id="input-cpf" placeholder="000.000.000-00" type="text" class="form-control" />
										<span asp-validation-for="Paciente.Cpf" class="text-danger"></span>
										@if (TempData["resultadoPesquisa"] != null)
										{
											<h6 class="heading-small text-danger">@TempData["resultadoPesquisa"]</h6>
										}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-control-label" for="input-nome">Paciente</label>
										<input asp-for="Paciente.Nome" required id="input-nome" placeholder="Nome Completo" class="form-control" />
										<span asp-validation-for="Paciente.Nome" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="input-data-nascimento" class="form-control-label">Data de Nascimento</label>
										<input asp-for="Paciente.DataNascimento" type="text" id="input-data-nascimento" placeholder="dd-mm-aaaa" class="form-control" required value="@Model.Paciente.DataNascimento.ToString("dd/MM/yyyy")" />
										<span asp-validation-for="Paciente.DataNascimento" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="form-control-label" for="sexo">Sexo</label><br>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.Sexo, "M", new { @class = "custom-control-input", @id = "input-sexo-masc", @name = "sexo" })
											<label class="custom-control-label" for="input-sexo-masc">Masculino</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.Sexo, "F", new { @class = "custom-control-input", @id = "input-sexo-fem", @name = "sexo" })
											<label class="custom-control-label" for="input-sexo-fem">Feminino</label>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label asp-for="Paciente.Cns" class="form-control-label"></label>
										<input asp-for="Paciente.Cns" required id="input-cns" placeholder="CNS" class="form-control" value="@Model.Paciente.Cns" />
										<span asp-validation-for="Paciente.Cns" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="form-control-label" for="input-area-atuacao">Área de Atuação:</label>
										@Html.DropDownListFor(model => model.Paciente.IdAreaAtuacao, ViewBag.AreaAtuacao as SelectList, new
										{ @class = "form-control", @id = "input-area-atuacao" })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="form-control-label" for="input-profissao">Profissão</label>
										<input asp-for="Paciente.Profissao" required id="input-profissao" class="form-control" value="@Model.Paciente.Profissao" />
										<span asp-validation-for="Paciente.Profissao" class="text-danger"></span>
									</div>
								</div>
							</div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Informações de Contato</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-2">
									<div class="form-group">
										<label class="form-control-label" for="postal_code">CEP (Não sabe? </label> <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Busque aqui</a>)
										<input asp-for="Paciente.Cep" oninput="PreencheFormCEP()" id="postal_code" class="form-control" required placeholder="CEP" />
										<span asp-validation-for="Paciente.Cep" class="text-danger"></span>
										<span id="spanInvalidCep" hidden class="text-danger text-center" style="padding: 10px">Cep Invalido!!</span>
									</div>
                                </div>
                                <div class="col-lg-5">
									<div class="form-group">
										<label class="form-control-label" for="route">Logradouro</label>
										<input asp-for="Paciente.Rua" type="search" oninput="PreencheForm()" required placeholder="Pesquise pelo CEP, Rua, Bairro, Número" autocomplete="off" id="route" class="form-control" />
										<span asp-validation-for="Paciente.Rua" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label class="form-control-label" for="street_number">Número</label>
                                        <input asp-for="Paciente.Numero" id="street_number" class="form-control" placeholder="" />
										<span asp-validation-for="Paciente.Numero" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="sublocality_level_1">Bairro</label>
                                        <input asp-for="Paciente.Bairro" id="sublocality_level_1" required class="form-control" placeholder="Bairro" />
										<span asp-validation-for="Paciente.Bairro" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="administrative_area_level_2">Cidade</label>
                                        <input asp-for="Paciente.Cidade" readonly id="administrative_area_level_2" required class="form-control" placeholder="Cidade" />
										<span asp-validation-for="Paciente.Cidade" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="administrative_area_level_1">Estado</label>
                                        <input asp-for="Paciente.Estado" readonly id="administrative_area_level_1" class="form-control" placeholder="Estado" />
										<span asp-validation-for="Paciente.Estado" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-complemento">Complemento</label>
                                        <input asp-for="Paciente.Complemento" id="input-complemento" class="form-control" placeholder="Complemento" />
										<span asp-validation-for="Paciente.Complemento" class="text-danger"></span>
									</div>
                                </div>
                                <div class="col-lg-4" hidden>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-latitude">Latitude</label>
                                        <input asp-for="Paciente.Latitude" id="latitude" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4" hidden>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-longitude">Longitude</label>
                                        <input asp-for="Paciente.Longitude" id="longitude" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-celular">Celular</label>
                                        <input asp-for="Paciente.FoneCelular" id="input-celular" required class="form-control" placeholder=" (99) 99999 9999" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-telefone">Telefone</label>
                                        <input asp-for="Paciente.FoneFixo" id="input-telefone" class="form-control" placeholder=" (99) 9999 9999" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">E-mail</label>
                                        <input asp-for="Paciente.Email" id="input-email" class="form-control" placeholder="email@example.com" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Comorbidades</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Cardiopatia" class="custom-control-input" id="customCheck1" />
                                                <label class="custom-control-label" for="customCheck1">Cardiopatia</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Diabetes" class="custom-control-input" id="customCheck2" />
                                                <label class="custom-control-label" for="customCheck2">Diabetes</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Obeso" class="custom-control-input" id="customCheck3" />
                                                <label class="custom-control-label" for="customCheck3">Obesidade</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Hipertenso" class="custom-control-input" id="customCheck4" />
                                                <label class="custom-control-label" for="customCheck4">Hipertenso</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Imunodeprimido" class="custom-control-input" id="customCheck5" />
                                                <label class="custom-control-label" for="customCheck5">Imunodeprimido</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Cancer" class="custom-control-input" id="customCheck6" />
                                                <label class="custom-control-label" for="customCheck6">Câncer</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.DoencaRespiratoria" class="custom-control-input" id="customCheck7" />
                                                <label class="custom-control-label" for="customCheck7">Doença Respiratória</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.DoencaRenal" class="custom-control-input" id="customCheck7" />
                                                <label class="custom-control-label" for="customCheck8">Doença Renal</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox checkbox">
                                            <label>
                                                <input asp-for="Paciente.Epilepsia" class="custom-control-input" id="customCheck7" />
                                                <label class="custom-control-label" for="customCheck9">Epilepsia</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="search" id="input-outrasComorbidades" class="form-control" style="margin-top: 1px;" asp-for="Paciente.OutrasComorbidades" placeholder="Outras comorbidades">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Sintomas</h6>
                        <div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.Febre" checked="@Model.Paciente.Febre" class="custom-control-input" id="customCheck12" />
												<label class="custom-control-label" for="customCheck12">Febre</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.Tosse" checked="@Model.Paciente.Tosse" class="custom-control-input" id="customCheck13" />
												<label class="custom-control-label" for="customCheck13">Tosse</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.Coriza" checked="@Model.Paciente.Coriza" class="custom-control-input" id="customCheck14" />
												<label class="custom-control-label" for="customCheck14">Coriza</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.DificuldadeRespiratoria" checked="@Model.Paciente.DificuldadeRespiratoria" class="custom-control-input" id="customCheck15" />
												<label class="custom-control-label" for="customCheck15">Dificuldade Respiratória</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.PerdaOlfatoPaladar" checked="@Model.Paciente.PerdaOlfatoPaladar" class="custom-control-input" id="customCheck16" />
												<label class="custom-control-label" for="customCheck16">Perda Olfato/Paladar</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.DorGarganta" checked="@Model.Paciente.DorGarganta" class="custom-control-input" id="customCheck17" />
												<label class="custom-control-label" for="customCheck17">Dor de Garganta</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.DorOuvido" checked="@Model.Paciente.DorOuvido" class="custom-control-input" id="customCheck18" />
												<label class="custom-control-label" for="customCheck18">Dor no Ouvido</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.DorAbdominal" checked="@Model.Paciente.DorAbdominal" class="custom-control-input" id="customCheck19" />
												<label class="custom-control-label" for="customCheck19">Dor Abdominal</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.Diarreia" checked="@Model.Paciente.Diarreia" class="custom-control-input" id="customCheck20" />
												<label class="custom-control-label" for="customCheck20">Diarréia</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<div class="custom-control custom-checkbox checkbox">
											<label>
												<input asp-for="Paciente.Nausea" checked="@Model.Paciente.Nausea" class="custom-control-input" id="customCheck21" />
												<label class="custom-control-label" for="customCheck21">Náusea</label>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<input type="text" id="input-outrosSintomas" class="form-control" style="margin-top: 1px;" asp-for="Paciente.OutrosSintomas" placeholder="Outros Sintomas" value="@Model.Paciente.OutrosSintomas">
									</div>
								</div>

							</div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Exames Realizados pelo Paciente</h6>
                        <div class="pl-lg-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
													<tr>
														<th scope="col" class="sort" data-sort="cidade">
															Responsável pela Realização Exame
														</th>
														<th scope="col" class="sort" data-sort="data-exame">
															Data do Exame
														</th>
														<th scope="col" class="sort" data-sort="virus">
															Vírus/Bacteria
														</th>
														<th scope="col" class="sort" data-sort="virus">
															Método
														</th>
														<th scope="col" class="sort" data-sort="resultado">
															Resultado
														</th>
													</tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ExamesPaciente)
                                                    {
													<tr>
														<td>
															@Html.DisplayFor(modelItem => item.ResponsavelExame)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.Exame.DataExame)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.NomeVirusBateria)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.Exame.MetodoExameDescricao)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.Exame.Resultado)
														</td>
													</tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Saúde do Paciente</h6>
                        <div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "S", new { @class = "custom-control-input", @id = "input-situacao-saudavel", @name = "situacaoSaude", @onclick="ocultaDataObito()"})
											<label class="custom-control-label" for="input-situacao-saudavel">Recuperado</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "I", new { @class = "custom-control-input", @id = "input-situacao-isolamento", @name = "situacaoSaude", @onclick="ocultaDataObito()" })
											<label class="custom-control-label" for="input-situacao-isolamento">Isolamento Social</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "H", new { @class = "custom-control-input", @id = "input-situacao-hospitalizado", @name = "situacaoSaude", @onclick="ocultaDataObito()" })
											<label class="custom-control-label" for="input-situacao-hospitalizado">Internamento Clínico</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "E", new { @class = "custom-control-input", @id = "input-situacao-estabilizacao", @name = "situacaoSaude", @onclick="ocultaDataObito()" })
											<label class="custom-control-label" for="input-situacao-estabilizacao">Estabilização</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "U", new { @class = "custom-control-input", @id = "input-situacao-uti", @name = "situacaoSaude", @onclick="ocultaDataObito()" })
											<label class="custom-control-label" for="input-situacao-uti">UTI</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											@Html.RadioButtonFor(model => model.Paciente.SituacaoSaude, "O", new { @class = "custom-control-input", @id = "input-situacao-obito", @name = "situacaoSaude", @onclick="ocultaDataObito()" })
											<label class="custom-control-label" for="input-situacao-obito">Óbito</label>
										</div>
									</div>
								</div>
								<div class="col-lg-2" id="div-input-obito">
									<div class="form-group">
										<label class="form-control-label" for="input-dataObito">Data Óbito</label>
										<input asp-for="Paciente.DataObito" type="date" id="input-dataObito" class="form-control" />
									</div>
								</div>
							</div>
                        </div>

                        <hr class="my-4" />

                        <div class="row align-items-center">

                            <div class="col">
                                <h6 class="heading-small text-muted mb-4">Histórico de Internações</h6>
                                <h6 class="heading-small text-muted mb-4"></h6>
                            </div>
                            <div class="col text-right">
                                <a data-toggle="modal" data-target="#modal-cadastrar-internacao" class="btn btn-success text-white">Novo Internamento</a>
                            </div>
                        </div>

                        <div class="pl-lg-4">
                            <div class="row">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="sort" data-sort="cidade">
                                                Empresa
                                            </th>
                                            <th scope="col" class="sort" data-sort="cidade">
                                                Inicio
                                            </th>
                                            <th scope="col" class="sort" data-sort="data-exame">
                                                Fim
                                            </th>
                                            <th scope="col" class="sort" data-sort="virus">
                                                Uso O2
                                            </th>
                                            <th scope="col" class="sort" data-sort="resultado"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Internacoes)
                                        {
                                            <tr>
                                                <td hidden>
                                                    <div id="empresa-id-@item.IdInternacao">@Html.DisplayFor(modelItem => item.IdEmpresa)</div>
                                                    <div id="data-inicio-reverso-@item.IdInternacao">@item.DataInicio.ToString("yyyy-MM-dd")</div>
                                                    <div id="uso-o2-id-@item.IdInternacao" >@Html.DisplayFor(modelItem => item.UsoO2)</div>
                                                </td>
                                                <td>
                                                    <div >@Html.DisplayFor(modelItem => item.NomeEmpresa)</div>
                                                <td>
                                                    <div id="data-inicio-@item.IdInternacao">@item.DataInicio.ToString("dd/MM/yyyy")</div>
                                                </td>
                                                <td>
                                                    @if (item.DataFim.HasValue)
                                                    {
                                                        <div id="data-fim-reverso-@item.IdInternacao" hidden>@item.DataFim.Value.ToString("yyyy-MM-dd")</div>
                                                        <div id="data-fim-@item.IdInternacao">@item.DataFim.Value.ToString("dd/MM/yyyy")</div>
                                                    }
                                                    else
                                                    {
                                                        <div id="data-fim-@item.IdInternacao">-</div>
                                                    }
                                                </td>
                                                <td>
                                                    <div id="uso-o2-@item.IdInternacao">@Html.DisplayFor(modelItem => item.UsoO2Descricao)</div>
                                                </td>
                                                <td>
                                                    <a onclick="mostraModalEditar(@item.IdInternacao)" class="btn btn-info btn-sm btn-custom text-white"><i class="fa fa-edit"></i>Editar</a>
                                                    <a onclick="mostraModelDeletar(@item.IdInternacao)" class="btn btn-danger btn-sm btn-custom text-white"><i class="fa fa-trash"></i>Remover</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Informações adicionais</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-descricao">Observações (até 5000 caracteres)</label>
                                        <textarea type="text" id="input-descricao" class="form-control" asp-for="Descricao" rows="10" placeholder="Descricao"></textarea>
                                        <span hidden id="span-descricao" class="text-danger">Você excedeu o limite de caracteres, por favor, exclua algumas palavras.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade bs-example-modal-sm" id="modal-confirmar" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div style="padding: 10pt;text-align: center">
                                        <div class="col text-center form-group" id="acoes-model-form">
                                            <h3 id="h3-confirmacao"> Confirmar Monitoramento Paciente? </h3>

                                            <div class="form-group">
                                                <a data-dismiss="modal" class="btn btn-danger text-white">Não</a>
                                                <button id="btn-submit" type="submit" value="Sim" class="btn btn-success text-white">Sim</button>
                                            </div>
                                        </div>

                                        <div class="col text-center" id="ok-model-form">
                                            <h3 id="texto-erro"> </h3>
                                            <button data-dismiss="modal" class="btn btn-success text-white">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr class="my-4" />
                    <div class="row align-items-center">
                        <!--div class="col text-left">
                            <button value="Cancelar" asp-action="Index" asp-controller="MonitorarPaciente" class="btn btn-danger">Cancelar</button>
                        </!--div--->
                        <div class="col text-right">
                            <a id="btn-monitorar-paciente" onclick='validacao()' class="btn btn-success text-white">Monitorar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cadastrar-internacao" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="Internacao">
                <div class="modal-body">
                    <div class="col-lg-16">
                        <h6 class="heading-small text-muted mb-4">Sobre o Paciente</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Paciente</h4>
                                    <input name="IdPessoa" class="custom-control-input" value="@Model.Paciente.Idpessoa" hidden />
                                    <span> @Model.Paciente.Cpf  | @Model.Paciente.Nome </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Empresa</h4>
                                    <select name="IdEmpresa" class="select2_single form-control" tabindex="-1">
                                        @foreach (var empresa in ViewBag.Empresas)
                                        {
                                            <option value="@empresa.Id">@empresa.Cnpj | @empresa.Nome </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Periodo de Internacao</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Inicio da Internacao</h4>
                                    <input name="DataInicio" type="date" id="input-data-inicio" placeholder="dd-mm-aaaa" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Término da internação</h4>
                                    <input name="DataFim" type="date" id="input-data-inicio" placeholder="dd-mm-aaaa" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Tipo de Oxigenacao</h6>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-group">
                                        <h4>Uso de O2</h4>
                                        <select name="UsoO2" class="select2_single form-control" tabindex="-1">
                                            <option value="V">Vetilação Mecânica</option>
                                            <option value="C">Cateter </option>
                                            <option value="M">Máscara Venturi/Hudson </option>
                                            <option value="A">Ar Ambiente</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input name="IdVirusBacteria" id="virus-bacteria" value="@Model.VirusBacteria.IdVirusBacteria" class="form-control" hidden />
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
                        <button type="submit" id="btn-create" class="btn btn-success"><i class="fa fa-save"></i> Cadastrar</button>
                    </div>
                </div>

                <div class="modal fade" id="modal-default" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm" id="modal-remover" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center" style="padding: 10pt">
            <h4> Confirmar Remoção de Internacao  ? </h4>

            <h4>Paciente</h4><p>@Model.Paciente.Nome</p>
            <h4>Inicio Internacao</h4> <p id="texto-data-inicio"></p>
            <h4>Término da Internacao</h4> <p id="texto-data-fim"></p>
            <h4>Uso O2</h4> <p id="texto-uso-o2"></p>


            <form asp-controller="Internacao" asp-action="Delete">
                <input name="idInternacao" id="input-id-internacao-delete" hidden />
                <input name="idPaciente" id="input-id-paciente-delete" value="@Model.Paciente.Idpessoa" hidden />
                <input name="idVirusBacteria" id="input-id-virus-bacteria-delete" value="@Model.VirusBacteria.IdVirusBacteria" hidden />
                <a class="btn btn-danger text-white" data-dismiss="modal">Não</a>
                <button type="submit" value="Sim" class="btn btn-success">Sim</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-editar-internacao" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Internacao" asp-action="Edit">
                <div class="modal-body">
                    <div class="col-lg-16">
                        <h6 class="heading-small text-muted mb-4">Sobre o Paciente</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Paciente</h4>
                                    <input name="IdInternacao" class="custom-control-input" id="input-id-internacao-edit" hidden />
                                    <input name="IdPessoa" class="custom-control-input" id="input-id-pessoa-edit" value="@Model.Paciente.Idpessoa" hidden />
                                    <span> @Model.Paciente.Cpf  | @Model.Paciente.Nome </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Empresa Onde Está Internado</h4>
                                    <select name="IdEmpresa" id="input-empresa-edit" class="select2_single form-control" tabindex="-1">
                                        @foreach (var empresa in ViewBag.Empresas)
                                        {
                                            <option value="@empresa.Id">@empresa.Cnpj | @empresa.Nome </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Periodo de Internacao</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Inicio da Internacao</h4>
                                    <input name="DataInicio" type="date" id="input-data-inicio-edit" placeholder="dd-mm-aaaa" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Término da internação</h4>
                                    <input name="DataFim" type="date" id="input-data-fim-edit" placeholder="dd-mm-aaaa" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Tipo de Oxigenacao</h6>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-group">
                                        <h4>Uso de O2</h4>
                                        <select name="UsoO2" id="input-uso-o2-edit" class="select2_single form-control" tabindex="-1">
                                            <option value="V">Vetilação Mecânica</option>
                                            <option value="C">Cateter </option>
                                            <option value="M">Máscara Venturi/Hudson </option>
                                            <option value="A">Ar Ambiente</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input name="IdVirusBacteria" id="virus-bacteria" value="@Model.VirusBacteria.IdVirusBacteria" class="form-control" hidden />
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
                        <button type="submit" id="btn-create" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                </div>

                <div class="modal fade" id="modal-default" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlertRedirectIndex('success','Parabéns!', '@TempData["mensagemSucesso"]','/MonitorarPaciente/Index')"></div>
}
else if (TempData["mensagemSucessoInternacao"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucessoInternacao"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('error','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            ocultaDataObito();

            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });


        var input = document.getElementById('input-descricao');
        input.addEventListener("keyup", function () {
            if ($('#input-descricao').val().length > 5000) {
                document.getElementById('span-descricao').hidden = false;
            } else {
                document.getElementById('span-descricao').hidden = true;
            }
        });

        function ocultaDataObito() {
            var obito = $("input[name='SituacaoSaude']:checked").val();

            if (obito == 'O')
                document.getElementById('div-input-obito').hidden = false;            
            else
                document.getElementById('div-input-obito').hidden = true; 
        }

        function validacao() {
            var mensagem = verificaCampoVazio();

            $('#ok-model-form').hide();
            $('#acoes-model-form').hide();

            if (mensagem.length > 0) {
                $('#texto-erro').text(mensagem);
                $('#ok-model-form').show();
            }
            else {
                $('#acoes-model-form').show();
            }

            $('#modal-confirmar').modal('show');
        }


        function verificaCampoVazio() {
            var mensagem = "";
            if ($('#input-nome').val().length == 0)
                mensagem = "Preencha o campo NOME!";
            else if ($('#input-data-nascimento').val().length != 10)
                mensagem = "Preencha a DATA DE NASCIMENTO corretamente!";
            else if ($('#postal_code').val().length == 0)
                mensagem = "Preencha o campo CEP!";
            else if ($('#route').val().length == 0)
                mensagem = "Preencha o campo RUA!";
            else if ($('#sublocality_level_1').val().length == 0)
                mensagem = "Preencha o campo BAIRRO!";
            else if ($('#administrative_area_level_2').val().length == 0)
                mensagem = "Preencha o campo ESTADO!";
            else if ($('#administrative_area_level_1').val().length == 0)
                mensagem = "Preencha o campo CIDADE!";
            else if ($('#input-celular').val().length != 17)
                mensagem = "Preencha o campo CELULAR corretamente!";

            return mensagem;
        }

        function mostraModalEditar(id) {
            var dataFim = "";
            if (document.querySelector('#data-fim-reverso-' + id))
                dataFim = document.getElementById('data-fim-reverso-' + id).innerText;

            document.getElementById("input-id-internacao-edit").value = id;
            document.getElementById("input-data-inicio-edit").value = document.getElementById('data-inicio-reverso-' + id).innerText;
            document.getElementById("input-data-fim-edit").value = dataFim;
            document.getElementById("input-empresa-edit").value = document.getElementById('empresa-id-' + id).innerText;
            document.getElementById("input-uso-o2-edit").value = document.getElementById('uso-o2-id-' + id).innerText;

            $('#modal-editar-internacao').modal('show');
        }

        function mostraModelDeletar(id) {
            document.getElementById("texto-data-inicio").innerText = document.getElementById('data-inicio-' + id).innerText;
            document.getElementById("texto-data-fim").innerText = document.getElementById('data-fim-' + id).innerText;
            document.getElementById("texto-uso-o2").innerText = document.getElementById('uso-o2-' + id).innerText;

            document.getElementById("input-id-internacao-delete").value = id;

            $('#modal-remover').modal('show');
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/assets/js/sweet-alert.js"></script>
    <script src="~/assets/js/PersonalScripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@googleKey&libraries=places&callback=initAutocomplete&language=pt-BR"
            async defer></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}