<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MonitoraSUS</title>

	<!-- IMPORTS -->
	<!-- Fonts -->
	<link href="~/assets/fonts/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="~/assets/favicon.ico">


	@if (!User.Identity.IsAuthenticated && @Context.Request.Path.ToString().CompareTo("/Login") == 0)
	{
		<!-- Login Styles -->
	<link href="~/assets/css/app.css" rel="stylesheet">
	<link href="~/assets/css/login.css" rel="stylesheet">
	}
	else
	{
	<link rel="stylesheet" href="~/assets/css/argon.css?v=1.2.0" type="text/css">
	<link rel="stylesheet" href="~/assets/css/custom.css" type="text/css">
	}
</head>
@if (!User.Identity.IsAuthenticated && @Context.Request.Path.ToString().CompareTo("/Login") == 0)
{
	<body class="bg-login">
		<!-- Scripts -->
		<div class="main-content card-content" id="panel">
			@RenderBody()
		</div>
		@RenderSection("Scripts", required: false)
		<script src="~/assets/js/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
		<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/assets/js/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165261999-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'UA-165261999-1');
		</script>
	</body>
}
else
{
	<body>
		<!-- Main content -->
		<div class="main-content" id="panel">
			@if (User.Identity.IsAuthenticated)
			{
				<div id="container">
					<!-- Top Nav-->
					<partial name="_NavBarPartial" />
					<!-- Header -->
					<partial name="_Header" />
				</div>
			}
			<div class="main-content card-content" id="panel">
				<!-- Page Content -->
				@RenderBody()
			</div>
		</div>

		<!-- Scripts -->
		<script src="~/assets/js/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
		<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
		<script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
		<script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
		<script src="~/assets/js/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
		<script src="~/assets/js/argon.js?v=1.2.0"></script>

		@RenderSection("Scripts", required: false)
	</body>
}
</html>
