@model Tuple<List<Model.ViewModel.SolicitanteAprovacaoViewModel>, List<Model.EmpresaExameModel>>
@{
    ViewData["Title"] = "IndexApproveAgent";

    var bloquear = "Bloquear";
    var ativar = "Ativar";
    var descartar = "Descartar";
}

@if (ViewBag.responseOp != null)
{
    if (ViewBag.responseOp.Contains("!"))
    {
        <div id="msg" onclick="swtAlert('success','Sucesso na Solicitação', '@ViewBag.responseOp')"></div>

    }
    else
    {
        <div id="msg" onclick="swtAlert('error','Ocorreram Problemas na Solicitação', '@ViewBag.responseOp')"></div>

    }
}

<!-- Page Content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            @if (ViewBag.entidade.Equals("Agente"))
                            {
                                <h5 class="h3 mb-0">Autorizar Notificadores</h5>
                            }
                            else
                            {
                                <h5 class="h3 mb-0">Autorizar Gestores</h5>
                            }
                        </div>
                        <div class="col text-right">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-default">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </a>
                        </div>
                    </div>

                    <hr />
                    <div class="row align-items-center" style="float: left">
                        <div class="col text-left">
                            <div hidden id="entidade">@ViewBag.entidade</div>
                            @if (ViewBag.entidade.Equals("Agente"))
                            {
                                <h6 class="heading-small text-muted pl-lg-4">Adicionar Notificador</h6>
                            }
                            else
                            {
                                <h6 class="heading-small text-muted pl-lg-4">Adicionar Gestor</h6>
                            }
                            <div class="form-inline">
                                <input type="text" required class="form-control form-control-user cpf" name="cpf" id="input-cpf" oninput="validaCpf()" value="" placeholder="CPF">
                                <!-- DropDown Empresas-->
                                <select class="form-control select-item" id="selectEmpresa">
                                    <option selected disabled>Selecione associação...</option>
                                    @foreach (var item in Model.Item2)
                                    {
                                        <option class="dropdown-item" value="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</option>
                                    }
                                </select>

                                <button id="btnActivate" class="margin-left-10 btn btn-success">Adicionar</button>

                            </div>
                            @if (ViewBag.responseUp != null)
                            {
                                <span class="text-danger text-center">@ViewBag.responseUp</span>
                            }
                        </div>
                    </div>

                </div>
                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
								<tr>
									<th scope="col" class="sort" data-sort="nome">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Nome)
									</th>
									<th scope="col" class="sort" data-sort="cpf">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Cpf)
									</th>
									<th scope="col" class="sort" data-sort="estado">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Estado)
									</th>
									<th scope="col" class="sort" data-sort="cidade">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Cidade)
									</th>
									<th scope="col" class="sort" data-sort="fonecelular">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().FoneCelular)
									</th>
									<th scope="col" class="sort" data-sort="status">
										@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Status)
									</th>
									<th scope="col" class="sort" data-sort="acoes">
										Ações
									</th>
								</tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Item1)
                                {
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Nome)
									</td>
									<td>
										<a href="#">@Html.DisplayFor(modelItem => item.Cpf)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Estado)
									</td>
									<td>
										@if (item.Cidade != null)
										{
											@Html.DisplayFor(modelItem => item.Cidade)
										}
										else
										{
											<span><b>N/A</b></span>
										}
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.FoneCelular)
									</td>
									<td>
										<span class="badge badge-dot mr-4">
											@if (item.Status.Equals("A"))
											{
												<i class="bg-success"></i>
											}
											else if (item.Status.Equals("I"))
											{
												<i class="bg-danger"></i>
											}
											else if (item.Status.Equals("S"))
											{
												<i class="bg-warning"></i>
											}
											<span class="status">@Html.DisplayFor(itemModel => item.StatusDescricao)</span>
										</span>
									</td>
									<td>
										@if (item.Status.Equals("A"))
										{
											<a href="@Url.Action("Block", "AgenteSecretario",  new { entidade = @ViewBag.entidade, idPessoa = item.IdPessoa })" class="btn btn-icon btn-warning btn-sm" title="@bloquear">
												<span class="btn-inner--icon"><i class="fas fa-ban"></i></span>
											</a>
										}
										else if (item.Status.Equals("I") || item.Status.Equals("S"))
										{
											<a href="#" class="btn btn-icon btn-success btn-sm" title="@ativar" data-toggle="modal" data-target="#ativarModal" data-action="@ViewBag.entidade" data-cpf="@item.Cpf" data-idEmpresa="@item.IdEmpresa">
												<span class="btn-inner--icon"><i class="fas fa-check"></i></span>
											</a>
										}
										<a href="#" class="btn btn-icon btn-danger btn-sm" title="@descartar" data-toggle="modal" data-target="#agentModal" data-funcao="@ViewBag.entidade" data-id="@item.IdPessoa" data-nome="@item.Nome">
											<span class="btn-inner--icon"><i class="fas fa-times"></i></span>
										</a>
									</td>
								</tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirmação descartar -->
<div class="modal fade  bs-example-modal-sm" id="agentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Realmente deseja <b>remover</b>?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <span>Nome: <b><span id="modal-nome"></span></b></span>
                <span hidden id="modal-id"></span>
                <span hidden id="modal-funcao"></span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button onclick="actionDel()" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade  bs-example-modal-sm" id="ativarModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
</div>
@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="~/assets/js/PersonalScripts.js"></script>
    <script src="~/assets/js/agente-secretario.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
