@model Model.ViewModel.PesquisaExameViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    //var agente = _usuarioContext.RetornLoggedUser((ClaimsIdentity)User.Identity);
}


<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">

                        <div class="col">
                            <h5 class="card-title text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Exames Notificados</h5>
                        </div>
                        <div class="col text-right">
                            <!--a class="btn btn-success" asp-action="Create">Novo Exame</!--a-->
                            <a class="btn btn-default" asp-controller="Home" asp-action="Index"> <i class="fas fa-arrow-left"></i> Voltar</a><br />
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted mb-0">Adicione Filtros para pesquisa</h4>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col">
                                <form asp-controller="Exame" asp-action="Index">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-cpf">CPF/RG ou NOME</label>
                                                <input asp-for="Pesquisa" type="text" name="pesquisa" class="form-control" placeholder="000.000.000-00" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-cpf">Cidade</label>
                                                <input asp-for="Cidade" type="text" name="cidade" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="data-inicial"> Data Inicial</label>
                                                <input asp-for="DataInicial" type="date" id="data-inicial" name="DataInicial" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="data-final"> Data Final</label>
                                                <input asp-for="DataFinal" type="date" id="data-final" name="DataFinal" class="form-control" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label class="form-control-label" for="data-final"> Data Final</label>
                                                <input asp-for="RealizouPesquisa" type="checkbox" checked="checked" id="realizou-pesquisa" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-atuacao-estado">Resultados Exame</label>
                                                <select asp-for="Resultado" class="form-control" id="input-resultado">
                                                    <option>Todas as Opçoes</option>
                                                    <option>Positivo</option>
                                                    <option>IgG/IgM Positivo</option>
                                                    <option>Negativo</option>
                                                    <option>Indeterminado</option>
                                                    <option>Recuperado</option>
                                                    <option>Aguardando</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-0">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <button type="submit" id="btn-filtar" class="form-control btn btn-default"><i class="fa fa-search"></i> Filtrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="sort" data-sort="resultado">
                                                    Resultado
                                                </th>
                                                <th scope="col" class="sort" data-sort="total">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-danger">
                                                <td>
                                                    Positivos
                                                </td>
                                                <td>
                                                    @Model.Positivos
                                                </td>
                                            </tr>
                                            <tr class="text-danger">
                                                <td>
                                                    IgG/IgM Positivos
                                                </td>
                                                <td>
                                                    @Model.IgMIgGs
                                                </td>
                                            </tr>
                                            <tr class="text-warning">
                                                <td>
                                                    Indeterminados
                                                </td>
                                                <td>
                                                    @Model.Indeterminados
                                                </td>
                                            </tr>
                                            <tr class="text-blue">
                                                <td>
                                                    Recuperados
                                                </td>
                                                <td>
                                                    @Model.Recuperados
                                                </td>
                                            </tr>
                                            <tr class="text-success">
                                                <td>
                                                    Negativos
                                                </td>
                                                <td>
                                                    @Model.Negativos
                                                </td>
                                            </tr>
                                            <tr class="text-success">
                                                <td>
                                                    Aguardando Resultado
                                                </td>
                                                <td>
                                                    @Model.Aguardando
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    @using (Html.BeginForm("Export", "Exame", FormMethod.Post))
                    {
                        @for (int i = 0; i < Model.Exames.Count; i++)
                        {
                            <div class="form-group" hidden>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => Model.Exames[i].Exame.IdExame, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        }
                        <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-list"></i> Exportar Planilha</button>
                    }
                </div>
                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table table-custom align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort w5" data-sort="codigo-coleta">
                                        Id <br>Coleta
                                    </th>
                                    <th scope="col" class="sor w7" data-sort="cpf">
                                        Cpf/Rg
                                    </th>
                                    <th scope="col" class="sort w26" data-sort="nome-paciente">
                                        Paciente
                                    </th>
                                    <th scope="col" class="sort w15" data-sort="cidade">
                                        Cidade
                                    </th>
                                    <th scope="col" class="sort w3" data-sort="estado">
                                        UF
                                    </th>
                                    <th scope="col" class="sort w5" data-sort="data-exame">
                                        Data <br>do Exame
                                    </th>
                                    <th scope="col" class="sort w15" data-sort="virus">
                                        Vírus
                                    </th>
                                    <th scope="col" class="sort w7" data-sort="resultado">
                                        Resultado
                                    </th>
                                    <th scope="col" class="sort w5" data-sort="acoes">
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Exames)
                                {
                                    <tr>
                                        <td>
                                            <div>@Html.DisplayFor(modelItem => item.Exame.CodigoColeta)</div>
                                        </td>
                                        <td>
                                            <a href="#">@Html.DisplayFor(modelItem => item.Cpf)</a>
                                        </td>
                                        <td>
                                            @if (@item.NomePaciente.Length > 15)
                                            {
                                                <div>@item.NomePaciente</div>
                                            }
                                            else
                                            {
                                                <div>@item.NomePaciente</div>
                                            }
                                        </td>
                                        <td>
                                            @if (@item.Cidade.Length > 10)
                                            {
                                                <div>@item.Cidade</div>
                                            }
                                            else
                                            {
                                                <div>@item.Cidade</div>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Exame.DataExame)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomeVirusBateria)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Exame.Resultado)
                                        </td>
                                        <td>
                                            <!-- a href="@Url.Action("Details", "Exame", new { id = item.Exame.IdExame})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detalhes </!a-->
                                            <a href="@Url.Action("Edit", "Exame", new { id = item.Exame.IdExame })" class="btn btn-info btn-sm btn-custom"><i class="fa fa-edit text-center"></i>Editar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                                            <a data-toggle="modal" data-target="#modal-confirmar-@item.Exame.IdExame" class="btn btn-danger btn-sm btn-custom text-white"><i class="fa fa-trash "></i>Remover</a>
                                            <div class="modal fade bs-example-modal-sm" id="modal-confirmar-@item.Exame.IdExame" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content text-center" style="padding: 10pt">
                                                        <h3> Confirmar Remoção do Exame ? </h3>

                                                        <h4>CPF/RG</h4><p>@item.Cpf</p>
                                                        <h4>Paciente</h4> <p>@item.NomePaciente </p>
                                                        <h4>Virus/Bacteria</h4> <p>@item.NomeVirusBateria</p>
                                                        <h4>Resultado</h4> <p>@item.Exame.Resultado </p>

                                                        @using (Html.BeginForm("Delete", "Exame", new { id = item.Exame.IdExame }, FormMethod.Post))
                                                        {
                                                            <div hidden>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label" for="input-cpf">CPF/RG ou NOME</label>
                                                                            <input asp-for="Pesquisa" type="text" name="pesquisa" class="form-control" placeholder="000.000.000-00" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label" for="input-cpf">Cidade</label>
                                                                            <input asp-for="Cidade" type="text" name="cidade" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label" for="data-inicial"> Data Inicial</label>
                                                                            <input asp-for="DataInicial" type="date" id="data-inicial" name="DataInicial" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label" for="data-final"> Data Final</label>
                                                                            <input asp-for="DataFinal" type="date" id="data-final" name="DataFinal" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group" hidden>
                                                                            <label class="form-control-label" for="data-final"> Data Final</label>
                                                                            <input asp-for="RealizouPesquisa" type="checkbox" checked="checked" id="realizou-pesquisa" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label" for="input-atuacao-estado">EXAMES</label>
                                                                            <select asp-for="Resultado" class="form-control" id="input-resultado">
                                                                                <option>Todas as Opçoes</option>
                                                                                <option>Positivo</option>
                                                                                <option>IgG/IgM Positivo</option>
                                                                                <option>Negativo</option>
                                                                                <option>Indeterminado</option>
                                                                                <option>Recuperado</option>
                                                                                <option>Aguardando</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <a class="btn btn-danger text-white" data-dismiss="modal">Cancelar</a>
                                                            <button type="submit" value="Remover" class="btn btn-success btn-xs">Confimar</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('error','Falha!', '@TempData["mensagemErro"]')"></div>
}


@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/assets/js/sweet-alert.js"></script>
    <script src="~/assets/js/custom-exame.js"></script>
}
